@model iECF.Recepcion.Models.AprobacionComercial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AprobacionComercial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcfEncabezadoEmisor.RNCEmisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcfEncabezadoEmisor.RNCEmisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcfEncabezadoIdDoc.TipoeCF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcfEncabezadoIdDoc.TipoeCF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcfEncabezadoTotale.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcfEncabezadoTotale.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoEnvio.trackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoEnvio.trackId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecepcionResult.trackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecepcionResult.trackId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
